<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <label for="confirmation">Confirm Password:</label>
    <input type="password" id="confirmation" name="confirmation" required><br><br>
    
    <input type="submit" value="Register">
    
    <p>{{ message }}</p>
</form>

<a href="{% url 'login' %}">Login</a>